.container{
    width: auto;

    height: 705px;
    border: solid 2px #dc2ffa;

}   
#box1,#box4{
    width: auto;
    height: 90px;
    border: solid 2px #ff5733;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: 15px #900c3f;
    line-height: 90px;
}
#box3{
    width: auto;
    height: 415px;
    border: solid 2px #33ff57;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}
#box2{
    width: auto;
    height: 70px;
    border: solid 2px #3357ff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #0c3f90;
    line-height: 70px;
}